<div class="home-container">
	<h1 class="text-center mt-3">Links</h1>
	<%= simple_form_for @shortlink, remote: true do |f| %>
		<div class="form">
			<%= f.input :original, placeholder: "Enter link to shorten", :input_html => { :size => 60, :style => "margin-right: 2px; border: 1px solid #757575 ; height: 38px; border-radius: 8px 0 0 8px; padding-left: 8px;" },  label: false, id: "input"%>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<%= f.button :submit, 'Create link', id: "button"%>
		</div>
	<% end %>
	<% if @shortlinks.length > 0 %>
		<ul>
			<% @shortlinks.each do |link| %>
				<div class="links">
					<div class="d-flex">
						<div class="bitlink">
							<p>Shortened Link: <a href="<%= link.url %>"><%= link.url%></a></p>
						</div>
						<div class="clicks">
							<p><a  href="<%= link.url %>/counts">Counts</a></p>
						</div>
					</div>
					<div class="original">
						<p>Original Link: <%= link.original  %></p>	
					</div>
				</div>
			<% end %>
		</ul>
	<% else %>
		<h2 class="message" >You currently have no links created</h2>
	<% end %>
</div>

